<div>
    <header>
          <div class="navbar navbar-dark bg-dark shadow-sm">
              <div class="container d-flex justify-content-between">
                  <a href="#" class="navbar-brand d-flex align-items-center">
                      <strong>Fldsmdfr Dashboard</strong>
                  </a>
              </div>
          </div>
      </header>
  
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Fldsmdfr</h1>
                <p class="lead text-muted">Te proporcionamos estadisticas en tiempo real de las llegadas de tus clientes!</p>
                <p>
                    <a class="btn btn-primary my-2" routerLink="/records">Registros</a>
                </p>
            </div>
        </section>
  
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <p class="card-text" style="font-size: 5em;">{{avgTime}} minutos</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p><strong>Tiempo Promedio de Sanitizacion</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-4 shadow-sm">
                            <canvas baseChart width="100%" style="max-height: 400px;"
                                [datasets]="firstChartData"
                                [labels]="firstChartLabels"
                                [options]="firstChartOptions"
                                [colors]="ChartColors"
                                [legend]="firstChartLegend"
                                [chartType]="firstChartType">
                            </canvas>
                            <div class="card-body">
                                <p class="card-text"><strong>Promedio de Personas Entrantes Por Hora del Dia</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-4 shadow-sm">
                            <canvas baseChart width="100%" style="max-height: 400px;"
                                [datasets]="secondChartData"
                                [labels]="secondChartLabels"
                                [options]="secondChartOptions"
                                [colors]="ChartColors"
                                [legend]="secondChartLegend"
                                [chartType]="secondChartType">
                            </canvas>
                            <div class="card-body">
                                <p class="card-text"><strong>Promedio de Visitantes por Dia de la Semana</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>